.back-to-top {
  transition: opacity $timing-function;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  a {
    z-index: 10;
    transition: background-color $timing-function, outline $timing-function;
    border-radius: 50%;
    background-color: var(--wp--preset--color--accent);
    color: var(--wp--preset--color--base);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0;

    @include box(60px);

    @include position(fixed, null, 4em, 4em);

    @include tablet-only {
      right: 2em;
      bottom: 2em;
    }

    @include mobile-only {
      right: 1.5em;
      bottom: 1.5em;
    }

    @media print {
      display: none;
    }

    &::before {
      @include icon('\EA78', 2em);
    }

    &:hover {
      background-color: var(--wp--preset--color--base);
      color: var(--wp--preset--color--accent);
      outline: 1px solid var(--wp--preset--color--accent);

      span {
        opacity: 1;
      }
    }

    span {
      pointer-events: none;
      position: absolute;
      width: max-content;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 13px;
      background-color: var(--wp--preset--color--gray);
      right: calc(100% + 14px);
      padding: 8px 16px;
      border-radius: 16px;
      color: var(--wp--preset--color--base);
      opacity: 0;
      transition: opacity $timing-function;

      &::after {
        content: '';
        height: 0;
        left: calc(100% - 1px);
        position: absolute;
        right: auto;
        top: 50%;
        width: 0;
        border: 7px solid transparent;
        transform: translateY(-50%);
        border-left-color: var(--wp--preset--color--gray);
      }
    }
  }
}

.editor-styles-wrapper .back-to-top {
  visibility: visible;

  a {
    position: relative;
    right: 0;
    bottom: unset;
  }
}
