<!-- wp:template-part {"slug":"header","theme":"barriefrei","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|120"}}}} -->
<main
  class="wp-block-group"
  style="margin-top: var(--wp--preset--spacing--120)"
>
  <!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"barriefrei","tagName":"footer","area":"footer"} /-->
